.coin {
    color:#fff;
    text-align:center;
    -webkit-text-stroke: 1px #000;
}
.coin-small{
    height:47px;
    width:50px;
    background-size:50px 47px;

    .number-wrapper{
        padding-right:0px;
        font-size:25px;
        padding-top:7px;
    }
}
.coin-medium{
    height:56px;
    width:60px;
    background-size:60px 56px;

    .number-wrapper{
        padding-right:0px;
        font-size:27.5px;
        padding-top:10px;
    }
}
.coin-big{
    height:65px;
    width:70px;
    background-size:70px 65px;

    .number-wrapper{
        padding-right:0px;
        font-size:30px;
        padding-top:14px;
    }
}