.coin {
    color:#fff;
    text-align:center;
    -webkit-text-stroke: 1px #000;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: "Skranji", serif;
    font-weight: 700;
    font-style: normal;
}
.coin-small{
    height:47px;
    width:50px;
    background-size:50px 47px;

    .number-wrapper{
        padding-right:0px;
        font-size:25px;
        padding-top:7px;
    }
}
.coin-chaos{
    height: 44px;
    margin-bottom: -3px;
    overflow: visible;
    width: 47px;
    background-size: 47px 44px;

    .number-wrapper{
        font-size: 25px;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
.coin-medium{
    height:56px;
    width:60px;
    background-size:60px 56px;

    .number-wrapper{
        padding-right:0px;
        font-size:27.5px;
        padding-top:10px;
    }
}
.coin-medium-win{
    height:56px;
    width:60px;
    background-size:60px 56px;

    .number-wrapper{
        padding-right:0px;
        font-size:27.5px;
        padding-top:14px;
    }
}
.coin-big{
    height: 74px;
    width: 80px;
    background-size: 80px 74px;

    .number-wrapper{
        padding-right:0px;
        font-size: 34px;
        padding-top: 14px;
    }
}
.coin-big-win2{
    height: 74px;
    width: 80px;
    background-size: 80px 74px;

    .number-wrapper{
        padding-right:0px;
        font-size: 34px;
        padding-top: 23px
    }
}
.coin-big-win{
    height: 92px;
    width: 100px;
    background-size: 100px 92px;

    .number-wrapper{
        padding-right:0px;
        font-size: 34px;
        padding-top: 32px;
    }
}