<div class="card"
		 *ngIf="!card.hidden || (card.hidden && showDisabledCard)"
		 (click)="toggleCardSelection()"
		 (mouseenter) ="hovered = true"
		 (mouseleave) ="hovered = false"
>
	<div class="card-hidden-overlay" *ngIf="card.hidden"></div>
	<ng-container *ngIf="cardSide === 'front'">
    <div class="pay-wrapper">
				<ng-container *ngFor="let item of card.pay | keys">
					<app-hexagon *ngIf="item.value"  [color]="item.key" [number]="item.value" [type]="'pay'"></app-hexagon>
				</ng-container>
    </div>
    <div class="get-wrapper">
        <app-hexagon *ngIf="card.get.green" [color]="'green'" [number]="card.get.green" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.white" [color]="'white'" [number]="card.get.white" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.blue" [color]="'blue'" [number]="card.get.blue" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.red" [color]="'red'" [number]="card.get.red" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.purple" [color]="'purple'" [number]="card.get.purple" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.black" [color]="'black'" [number]="card.get.black" [type]="typeOfGetHexagon"></app-hexagon>
    </div>
    <div class="get-wrapper"></div>
    <div class="order-num">{{ card.orderNumber }}</div>
		<div class="card-overlay" *ngIf="card.artData" [ngStyle]="{'background-image': 'url(' + card.artData.picturePath + ')', transform: (card.artData.horizontalReverse ? 'scaleX(-1)' : 'scaleX(1)')}"></div>
		<!--<div class="card-overlay" *ngIf="!card.artData" [ngStyle]="{'background-image': 'url(' + cardBackUrl + ')'}"></div>-->
    <div class="text-container" (click)="toggleRename($event, true)">
        <div *ngIf="!renameModeOn" class="art-name">{{ card.artData?.name }}</div>
    </div>
		<textarea
			#renameTextarea
			appTextareaAutoresize
			*ngIf="renameModeOn && card.artData"
			(click)="$event.stopPropagation()"
			(focusout)="endRenameOnFocusOut()"
			class="art-name-textarea"
			[(ngModel)]="card.artData.name">
		</textarea>

		<div class="hover-buttons-wrapper" *ngIf="card.artData" [ngStyle]="{'opacity': hovered ? '1' : '0'}">
			<div class="hover-button hover-button-cancel" (click)="removeArt($event)">Remove Art</div>
			<div class="hover-button hover-button-cancel" *ngIf="!card.hidden" (click)="changeDisableState($event, true)">Disable Card</div>
			<div class="hover-button hover-button-confirm" *ngIf="card.hidden" (click)="changeDisableState($event, false)">Enable Card</div>
			<div class="hover-button" *ngIf="!card.artData?.horizontalReverse" (click)="flip($event)">Flip Horizontal</div>
			<div class="hover-button" *ngIf="card.artData?.horizontalReverse" (click)="flip($event)">Unflip Horizontal</div>
			<div class="hover-button" *ngIf="!renameModeOn" (click)="toggleRename($event, true)">Rename</div>
			<div class="hover-button hover-button-confirm" *ngIf="renameModeOn" (click)="toggleRename($event, false)">Confirm Rename</div>
			<div class="hover-button hover-button-cancel" *ngIf="renameModeOn" (click)="cancelRename($event)">Cancel Rename</div>
		</div>
	</ng-container>
	<ng-container *ngIf="cardSide === 'back'">
		<div class="card-overlay card-overlay-back" [ngStyle]="{'background-image': 'url(' + cardBackUrl + ')'}"></div>
	</ng-container>
</div>