<div class="card"
         [ngClass]="{ 'card--view': !printModeEnabled, 'card--rotated': printModeEnabled && cardSide === 'back', 'card--print': printModeEnabled, 'card--no-edit': disableHoverUi }"
		 *ngIf="!card.hidden || (card.hidden && showDisabledCard)"
		 (click)="handleCardClick()"
		 (mouseenter) ="setHovered(true)"
		 (mouseleave) ="setHovered(false)"
>
	<div class="card-hidden-overlay" *ngIf="card.hidden"></div>
	<ng-container *ngIf="cardSide === 'front'">
        <div
            class="card-overlay-wrap"
            [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
            [ngStyle]="{
                '--card-bg': 'url(' + card.artData?.picturePath + ')',
                transform: (card.artData?.horizontalReverse ? 'scaleX(-1)' : 'scaleX(1)')
            }"
        >
            <div class="card-overlay-mirror-topleft"></div>
            <div class="card-overlay-mirror-topright"></div>
            <div class="card-overlay-mirror-left"></div>
            <div class="card-overlay"></div>
            <div class="card-overlay-mirror-right"></div>
            <div class="card-overlay-mirror-bottomleft"></div>
            <div class="card-overlay-mirror-bottomright"></div>
        </div>
    <div class="pay-wrapper">
				<ng-container *ngIf="!editTokensMode">
					<ng-container *ngFor="let item of card.pay | keys">
						<app-hexagon *ngIf="item.value"  [color]="item.key" [number]="item.value" [type]="'pay'"></app-hexagon>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="editTokensMode">
					<ng-container *ngFor="let color of allColors; trackBy: trackByColor">
						<app-hexagon [color]="color" [number]="card.pay[color] || 0" [type]="'pay'" (leftClick)="decreaseToken(color)" (rightClick)="increaseToken(color)"></app-hexagon>
					</ng-container>
				</ng-container>
    </div>
    <div class="get-wrapper">
        <app-hexagon *ngIf="card.get.green" [color]="'green'" [number]="card.get.green" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.white" [color]="'white'" [number]="card.get.white" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.blue" [color]="'blue'" [number]="card.get.blue" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.red" [color]="'red'" [number]="card.get.red" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.purple" [color]="'purple'" [number]="card.get.purple" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.black" [color]="'black'" [number]="card.get.black" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.dice" [color]="'dice'" [number]="card.get.dice" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_1_lvl === 0" [color]="'card_1_lvl'" [number]="card.get.card_1_lvl" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_2_lvl === 0" [color]="'card_2_lvl'" [number]="card.get.card_2_lvl" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_3_lvl === 0" [color]="'card_3_lvl'" [number]="card.get.card_3_lvl" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_4_lvl === 0" [color]="'card_4_lvl'" [number]="card.get.card_4_lvl" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_master === 0" [color]="'card_master'" [number]="card.get.card_master" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.card_grand_master === 0" [color]="'card_grand_master'" [number]="card.get.card_grand_master" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.extra_turn === 0" [color]="'extra_turn'" [number]="card.get.extra_turn" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.drop_card === 0" [color]="'drop_card'" [number]="card.get.drop_card" [type]="typeOfGetHexagon"></app-hexagon>
        <app-hexagon *ngIf="card.get.steal_card === 0" [color]="'steal_card'" [number]="card.get.steal_card" [type]="typeOfGetHexagon"></app-hexagon>
				<div *ngIf="card.levelSpecial" class="card-special-level-text">Level {{card.level}}</div>
    </div>
    <div class="get-wrapper"></div>
    <div class="order-num">{{ card.orderNumber }}</div>
        <div
                class="card-overlay-wrap"
                [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
                *ngIf="card.artData"
                [ngStyle]="{
                '--card-bg': 'url(' + card.artData.picturePath + ')',
                transform: (card.artData.horizontalReverse ? 'scaleX(-1)' : 'scaleX(1)')
              }"
        >
            <div class="card-overlay"></div>
        </div>
        <!--<div class="card-overlay" *ngIf="!card.artData" [ngStyle]="{'background-image': 'url(' + cardBackUrl + ')'}"></div>-->
    <div class="text-container text-container-warning" *ngIf="card.levelSpecial">
        <div class="art-name small-text">Limit: 1 card from deck per <p>player</p></div>
    </div>
		<div class="text-container text-container-warning text-container-warning2" *ngIf="card.levelBonus">
        <div class="art-name small-text">Optional action <p>Single use</p> <p>No bonus</p></div>
    </div>
    <div class="text-container" (click)="handleRenameClick($event)">
        <div *ngIf="!renameModeOn" class="art-name">{{ card.artData?.name }}</div>
    </div>
		<textarea
			#renameTextarea
			appTextareaAutoresize
			*ngIf="renameModeOn && card.artData"
			(click)="$event.stopPropagation()"
			(focusout)="endRenameOnFocusOut()"
			class="art-name-textarea"
			[(ngModel)]="card.artData.name">
		</textarea>

		<div class="hover-buttons-wrapper" *ngIf="!disableHoverUi" [ngStyle]="{'opacity': hovered ? '1' : '0'}">
			<div class="hover-button hover-button-cancel" *ngIf="card.artData" (click)="removeArt($event)">Remove Art</div>
			<div class="hover-button hover-button-cancel" *ngIf="!card.hidden" (click)="changeDisableState($event, true)">Disable Card</div>
			<div class="hover-button hover-button-confirm" *ngIf="card.hidden" (click)="changeDisableState($event, false)">Enable Card</div>
			<div class="hover-button" *ngIf="card.artData && !card.artData?.horizontalReverse" (click)="flip($event)">Flip Horizontal</div>
			<div class="hover-button" *ngIf="card.artData && card.artData?.horizontalReverse" (click)="flip($event)">Unflip Horizontal</div>
			<div class="hover-button" *ngIf="card.artData && !renameModeOn" (click)="toggleRename($event, true)">Rename</div>
			<div class="hover-button hover-button-confirm" *ngIf="card.artData && renameModeOn" (click)="toggleRename($event, false)">Confirm Rename</div>
			<div class="hover-button hover-button-cancel" *ngIf="card.artData && renameModeOn" (click)="cancelRename($event)">Cancel Rename</div>
			<div class="hover-button hover-button-cancel" (click)="deleteCard($event)">Delete Card</div>
			<div class="set-level-wrapper">
				<span>Set Level:</span>
				<span *ngFor="let lvl of [0,1,2,3,4]" class="level-option" (click)="setLevel($event, lvl)" [ngStyle]="{'text-decoration': card.level === lvl ? 'underline' : 'none'}">{{lvl}}</span>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="cardSide === 'back'">

        <div
            class="card-overlay-wrap"
            [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
            [ngStyle]="{ '--card-bg': 'url(' + cardBackUrl + ')' }"
        >
            <div class="card-overlay-mirror-topleft"></div>
            <div class="card-overlay-mirror-topright"></div>
            <div class="card-overlay-mirror-left"></div>
            <div class="card-overlay card-overlay-back"></div>
            <div class="card-overlay-mirror-right"></div>
            <div class="card-overlay-mirror-bottomleft"></div>
            <div class="card-overlay-mirror-bottomright"></div>
        </div>

    </ng-container>
</div>
