<div class="game-players" [ngClass]="'game-players--' + side">
    <div class="player-slot" *ngFor="let isVisible of playerSlots; let i = index"
         [class.player-slot--hidden]="!isVisible"
         [class.player-slot--active]="getPlayerNumber(i) === activePlayer">
        <div class="player-card" *ngIf="isVisible">
            <div class="player-card__header">
                <ng-container *ngIf="editingPlayerIndex !== getPlayerNumber(i); else editTemplate">
                    <span class="player-card__name" (click)="startRename(getPlayerNumber(i))">
                        {{ getPlayerName(getPlayerNumber(i)) }}
                        <span class="player-card__tooltip">Rename</span>
                    </span>
                    <button class="player-set-active" type="button"
                            (click)="$event.stopPropagation(); setActivePlayer(getPlayerNumber(i))"
                            title="Set active player">●</button>
                </ng-container>
                <ng-template #editTemplate>
                    <input
                        #renameInput
                        class="player-card__input"
                        type="text"
                        [(ngModel)]="editingPlayerName"
                        (focus)="selectAllText($event)"
                        (keydown.enter)="saveRename(getPlayerNumber(i))"
                        (keydown.escape)="$event.preventDefault(); cancelRename()"
                        (blur)="onRenameBlur(getPlayerNumber(i))"
                    />
                    <button class="player-card__save" type="button"
                            (mousedown)="saveRename(getPlayerNumber(i))">
                        Save
                    </button>
                </ng-template>
            </div>

            <div class="player-hexagons">
                <div [class.hexagon-empty]="getCardHexagonValue(getPlayerNumber(i), 'red') === 0">
                    <app-hexagon [color]="'red'" [number]="getCardHexagonValue(getPlayerNumber(i), 'red')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'red') === 0">
                    <app-hexagon [color]="'red'" [number]="getHexagonValue(getPlayerNumber(i), 'red')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getCardHexagonValue(getPlayerNumber(i), 'blue') === 0">
                    <app-hexagon [color]="'blue'" [number]="getCardHexagonValue(getPlayerNumber(i), 'blue')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'blue') === 0">
                    <app-hexagon [color]="'blue'" [number]="getHexagonValue(getPlayerNumber(i), 'blue')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getCardHexagonValue(getPlayerNumber(i), 'white') === 0">
                    <app-hexagon [color]="'white'" [number]="getCardHexagonValue(getPlayerNumber(i), 'white')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'white') === 0">
                    <app-hexagon [color]="'white'" [number]="getHexagonValue(getPlayerNumber(i), 'white')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getCardHexagonValue(getPlayerNumber(i), 'green') === 0">
                    <app-hexagon [color]="'green'" [number]="getCardHexagonValue(getPlayerNumber(i), 'green')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'green') === 0">
                    <app-hexagon [color]="'green'" [number]="getHexagonValue(getPlayerNumber(i), 'green')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getCardHexagonValue(getPlayerNumber(i), 'purple') === 0">
                    <app-hexagon [color]="'purple'" [number]="getCardHexagonValue(getPlayerNumber(i), 'purple')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'purple') === 0">
                    <app-hexagon [color]="'purple'" [number]="getHexagonValue(getPlayerNumber(i), 'purple')" [type]="'playerBank'"></app-hexagon>
                </div>

                <div class="player-black-passive-cell" [class.hexagon-empty]="getPassiveBlackTotalCount(getPlayerNumber(i)) === 0">
                    <div
                        class="player-black-passive-stack"
                        [class.player-black-passive-stack--tapped]="isPassiveBlackFullyTapped(getPlayerNumber(i))"
                        [class.player-black-passive-stack--mixed]="isPassiveBlackMixed(getPlayerNumber(i))">
                        <app-hexagon
                            [color]="'black'"
                            [number]="getPassiveBlackStackNumber(getPlayerNumber(i))"
                            [type]="'getWin'"></app-hexagon>
                        <span class="player-black-passive-stack__ratio" *ngIf="isPassiveBlackMixed(getPlayerNumber(i))">
                            <span class="player-black-passive-stack__ratio-available">{{ getPassiveBlackAvailableCount(getPlayerNumber(i)) }}</span>
                            <span class="player-black-passive-stack__ratio-slash">/</span>
                            <span class="player-black-passive-stack__ratio-total">{{ getPassiveBlackTotalCount(getPlayerNumber(i)) }}</span>
                        </span>
                    </div>
                </div>
                <div class="player-black-token-cell" [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'black') === 0">
                    <app-hexagon [color]="'black'" [number]="getHexagonValue(getPlayerNumber(i), 'black')" [type]="'playerBank'"></app-hexagon>
                </div>
            </div>

            <div class="player-master-cards" *ngIf="getOwnedMasterCards(getPlayerNumber(i)).length > 0">
                <div class="player-master-card" *ngFor="let masterCard of getOwnedMasterCards(getPlayerNumber(i))">
                    <div class="player-master-card__image-wrap">
                        <img class="player-master-card__image" [src]="masterCard.image" [alt]="masterCard.name" />
                    </div>
                    <div class="player-master-card__name">{{ masterCard.name }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
