<div class="game-players" [ngClass]="'game-players--' + side">
    <div class="player-slot" *ngFor="let isVisible of playerSlots; let i = index" 
         [class.player-slot--hidden]="!isVisible" 
         [class.player-slot--active]="getPlayerNumber(i) === activePlayer">
        <div class="player-card" *ngIf="isVisible">
            <div class="player-card__header">
                <ng-container *ngIf="editingPlayerIndex !== getPlayerNumber(i); else editTemplate">
                    <span class="player-card__name" (click)="startRename(getPlayerNumber(i))">
                        {{ getPlayerName(getPlayerNumber(i)) }}
                        <span class="player-card__tooltip">Rename</span>
                    </span>
                    <button class="player-set-active" type="button" 
                            (click)="$event.stopPropagation(); setActivePlayer(getPlayerNumber(i))" 
                            title="Set active player">●</button>
                </ng-container>
                <ng-template #editTemplate>
                    <input
                        #renameInput
                        class="player-card__input"
                        type="text"
                        [(ngModel)]="editingPlayerName"
                        (focus)="selectAllText($event)"
                        (keydown.enter)="saveRename(getPlayerNumber(i))"
                        (keydown.escape)="$event.preventDefault(); cancelRename()"
                        (blur)="onRenameBlur(getPlayerNumber(i))"
                    />
                    <button class="player-card__save" type="button" 
                            (mousedown)="saveRename(getPlayerNumber(i))">
                        Save
                    </button>
                </ng-template>
            </div>
            <div class="player-hexagons">
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'red') === 0">
                    <app-hexagon [color]="'red'" [number]="getHexagonValue(getPlayerNumber(i), 'red')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'red') === 0">
                    <app-hexagon [color]="'red'" [number]="getHexagonValue(getPlayerNumber(i), 'red')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'blue') === 0">
                    <app-hexagon [color]="'blue'" [number]="getHexagonValue(getPlayerNumber(i), 'blue')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'blue') === 0">
                    <app-hexagon [color]="'blue'" [number]="getHexagonValue(getPlayerNumber(i), 'blue')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'white') === 0">
                    <app-hexagon [color]="'white'" [number]="getHexagonValue(getPlayerNumber(i), 'white')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'white') === 0">
                    <app-hexagon [color]="'white'" [number]="getHexagonValue(getPlayerNumber(i), 'white')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'green') === 0">
                    <app-hexagon [color]="'green'" [number]="getHexagonValue(getPlayerNumber(i), 'green')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'green') === 0">
                    <app-hexagon [color]="'green'" [number]="getHexagonValue(getPlayerNumber(i), 'green')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'purple') === 0">
                    <app-hexagon [color]="'purple'" [number]="getHexagonValue(getPlayerNumber(i), 'purple')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'purple') === 0">
                    <app-hexagon [color]="'purple'" [number]="getHexagonValue(getPlayerNumber(i), 'purple')" [type]="'playerBank'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'black') === 0">
                    <app-hexagon [color]="'black'" [number]="getHexagonValue(getPlayerNumber(i), 'black')" [type]="'getWin'"></app-hexagon>
                </div>
                <div [class.hexagon-empty]="getHexagonValue(getPlayerNumber(i), 'black') === 0">
                    <app-hexagon [color]="'black'" [number]="getHexagonValue(getPlayerNumber(i), 'black')" [type]="'playerBank'"></app-hexagon>
                </div>
            </div>

        </div>
    </div>
</div>
