<div class="card"
		 *ngIf="!art.hidden || (art.hidden && showDisabledArt)"
		 [ngStyle]="{'border-color': borderColor}"
		 (click)="toggleArtSelection()"
		 (mouseenter) ="hovered = true"
		 (mouseleave) ="hovered = false"
>
		<div class="card-hidden-overlay" *ngIf="art.hidden"></div>
		<div class="card-overlay" [ngStyle]="{'background-image': 'url(' + art.picturePath + ')', transform: (art.horizontalReverse ? 'scaleX(-1)' : 'scaleX(1)')}"></div>
    <div class="text-container" (click)="toggleRename($event, true)">
        <div *ngIf="!renameModeOn" class="art-name" [ngStyle]="{'color': art.hidden ? 'grey' : 'white'}">{{ art.name }}</div>
    </div>
		<textarea
			#renameTextarea
			appTextareaAutoresize
			*ngIf="renameModeOn"
			(click)="$event.stopPropagation()"
			(blur)="toggleRename($event, false)"
			class="art-name-textarea"
			[(ngModel)]="art.name">
		</textarea>
		<div class="hover-buttons-wrapper" [ngStyle]="{'opacity': hovered ? '1' : '0'}">
			<div class="hover-button" *ngIf="!art.horizontalReverse" (click)="flip($event)">Flip Horizontal</div>
			<div class="hover-button" *ngIf="art.horizontalReverse" (click)="flip($event)">Unflip Horizontal</div>
			<div class="hover-button" *ngIf="!art.hidden" (click)="disable($event)">Disable Art</div>
			<div class="hover-button" *ngIf="art.hidden" (click)="enable($event)">Enable Art</div>
			<div class="hover-button" *ngIf="!renameModeOn" (click)="toggleRename($event, true)">Rename</div>
			<div class="hover-button" *ngIf="renameModeOn" (click)="toggleRename($event, false)">End Rename</div>
			<div class="hover-button" *ngIf="renameModeOn" (click)="cancelRename($event)">Cancel Rename</div>
		</div>
</div>