
<div class="add-art-form">
		<input type="text" [(ngModel)]="newArtUrl" placeholder="URL">
		<input type="text" [(ngModel)]="newArtName" placeholder="Name">
		<input type="text" [(ngModel)]="newArtColor" placeholder="Color">
		<input type="number" [(ngModel)]="newArtLevel" placeholder="Level">
		<label><input type="checkbox" [(ngModel)]="newArtHidden">Hidden</label>
		<button (click)="addNewArt()">Add</button>
</div>


<div class="level-wrapper"><app-collection-header [art]="{name: 'Bonus   Level 1\rNeed: '+needBonus1+'\rHave: '+haveBonus1+'\rHidden: '+ (bonus1.length - haveBonus1)}"></app-collection-header><app-art *ngFor='let art of bonus1.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Air   Level 1\rNeed: '+needWhite1+'\rHave: '+haveWhite1+'\rHidden: '+ (white1.length - haveWhite1)}"></app-collection-header><app-art *ngFor='let art of white1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Air   Level 2\rNeed: '+needWhite2+'\rHave: '+haveWhite2+'\rHidden: '+ (white2.length - haveWhite2)}"></app-collection-header><app-art *ngFor='let art of white2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Air   Level 3\rNeed: '+needWhite3+'\rHave: '+haveWhite3+'\rHidden: '+ (white3.length - haveWhite3)}"></app-collection-header><app-art *ngFor='let art of white3.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Earth Level 1\rNeed: '+needGreen1+'\rHave: '+haveGreen1+'\rHidden: '+ (green1.length - haveGreen1)}"></app-collection-header><app-art *ngFor='let art of green1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Earth Level 2\rNeed: '+needGreen2+'\rHave: '+haveGreen2+'\rHidden: '+ (green2.length - haveGreen2)}"></app-collection-header><app-art *ngFor='let art of green2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Earth Level 3\rNeed: '+needGreen3+'\rHave: '+haveGreen3+'\rHidden: '+ (green3.length - haveGreen3)}"></app-collection-header><app-art *ngFor='let art of green3.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Water Level 1\rNeed: '+needBlue1+'\rHave: '+haveBlue1+'\rHidden: '+ (blue1.length - haveBlue1)}"></app-collection-header><app-art *ngFor='let art of blue1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Water Level 2\rNeed: '+needBlue2+'\rHave: '+haveBlue2+'\rHidden: '+ (blue2.length - haveBlue2)}"></app-collection-header><app-art *ngFor='let art of blue2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Water Level 3\rNeed: '+needBlue3+'\rHave: '+haveBlue3+'\rHidden: '+ (blue3.length - haveBlue3)}"></app-collection-header><app-art *ngFor='let art of blue3.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Fire Level 1\rNeed: '+needRed1+'\rHave: '+haveRed1+'\rHidden: '+ (red1.length - haveRed1)}"></app-collection-header><app-art *ngFor='let art of red1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Fire Level 2\rNeed: '+needRed2+'\rHave: '+haveRed2+'\rHidden: '+ (red2.length - haveRed2)}"></app-collection-header><app-art *ngFor='let art of red2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Fire Level 3\rNeed: '+needRed3+'\rHave: '+haveRed3+'\rHidden: '+ (red3.length - haveRed3)}"></app-collection-header><app-art *ngFor='let art of red3.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Ether Level 1\rNeed: '+needPurple1+'\rHave: '+havePurple1+'\rHidden: '+ (purple1.length - havePurple1)}"></app-collection-header><app-art *ngFor='let art of purple1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Ether Level 2\rNeed: '+needPurple2+'\rHave: '+havePurple2+'\rHidden: '+ (purple2.length - havePurple2)}"></app-collection-header><app-art *ngFor='let art of purple2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Ether Level 3\rNeed: '+needPurple3+'\rHave: '+havePurple3+'\rHidden: '+ (purple3.length - havePurple3)}"></app-collection-header><app-art *ngFor='let art of purple3.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Ether Level 4\rNeed: '+needPurple3+'\rHave: '+havePurple4+'\rHidden: '+ (purple4.length - havePurple4)}"></app-collection-header><app-art *ngFor='let art of purple4.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Dark Level 1\rNeed: '+needBlack1+'\rHave: '+haveBlack1+'\rHidden: '+ (black1.length - haveBlack1)}"></app-collection-header><app-art *ngFor='let art of black1.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Dark Level 2\rNeed: '+needBlack2+'\rHave: '+haveBlack2+'\rHidden: '+ (black2.length - haveBlack2)}"></app-collection-header><app-art *ngFor='let art of black2.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Dark Level 3\rNeed: '+needBlack3+'\rHave: '+haveBlack3+'\rHidden: '+ (black3.length - haveBlack3)}"></app-collection-header><app-art *ngFor='let art of black3.slice().reverse()' [art]="art"></app-art></div>
<div class="level-wrapper"><app-collection-header [art]="{name: 'Dark Level 4\rNeed: '+needBlack3+'\rHave: '+haveBlack4+'\rHidden: '+ (black4.length - haveBlack4)}"></app-collection-header><app-art *ngFor='let art of black4.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Mix   Level 4\rNeed: '+needMix4+'\rHave: '+haveMix4+'\rHidden: '+ (mix4.length - haveMix4)}"></app-collection-header><app-art *ngFor='let art of mix4.slice().reverse()' [art]="art"></app-art></div>

<div class="level-wrapper"><app-collection-header [art]="{name: 'Bonus Level 1\rNeed: '+needBonus1+'\rHave: '+haveBonus1+'\rHidden: '+ (bonus1.length - haveBonus1)}"></app-collection-header><app-art *ngFor='let art of bonus1.slice().reverse()' [art]="art"></app-art></div>
