:host{
    --content-padding:10px;
}
.cards-wrapper{
    height:0vh;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}
.arts-wrapper{
    height:0vh;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}
.temp-flying-art {
    position: absolute;
    transition: left 0.4s ease, top 0.4s ease;
    left: 0;
    top: 0;
    z-index: 10000;

    animation: myAnim 0.4s ease 0s 1 normal forwards;

    @keyframes myAnim {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}
}