:host{
    --content-padding:10px;
}
.cards-wrapper{
    height:0vh;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}
.arts-wrapper{
    height:0vh;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}