:host{
    --content-padding:10px;
}
.card{
    width: 239px;
    height: 331.6px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    background-size: 239px 331.6px;
    -webkit-backdrop-filter: sepia(90%);
    backdrop-filter: sepia(90%);
    cursor: auto;
}
.chaos-card{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.card-hidden-overlay{
    /*position:absolute;*/
    width: 240px;
    height: 332.1px;
    top:0;
    left:0;
    background:black;
    opacity:0.7;
    z-index:5;
}
.card-overlay{
    transform: rotate(180deg);
    position: absolute;
    width: 240px;
    height: 332.1px;
    top: 0;
    left: 0;
    background-size: 240px 337.5px;
    z-index: 3;
    transition: transform .3s ease-out;
}
.card-overlay-back {
    background-size: 241px 333.5px;
}
.card-overlay-masters {

}
.card-overlay-image{
    z-index: 2;
    width: 208px;
    height: 169px;
    background-size:208px 169px;
    position: absolute;
    top: 23px;
    left: 16px;
}

.collection-header-wrapper{
    width:239px;
    background:#1f1f1f;

    & .art-name{
        font-size:22px;
    }
}

.order-num{
    position:absolute;
    color:white;
    right:5px;
    bottom:5px;
}

.hover-buttons-wrapper{
    position:absolute;
    left:10px;
    top:10px;
    z-index:5;
    transition:opacity .3s ease-out;
}

.hover-button{
    background:rgba(0, 0, 0, 0.5);
    font-family:"Macondo", cursive;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    line-height:20px;
    padding:6px;
    margin:4px;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    width:fit-content;
}

.hover-button-confirm{
    background:rgba(12, 124, 0, 0.5);
}

.hover-button-cancel{
    background:rgba(136, 0, 0, 0.5);
}

.text-container{
    font-family:"Macondo", cursive;
    font-weight:400;
    font-style:normal;
    font-size:30px;
    line-height:28px;
    position:absolute;
    color:#fff;
    width:155px;
    right:15px;
    text-align:right;
    left:auto;
    bottom:15px;
    z-index:7;
}

.text-container-chaos{
    font-size: 22px;
    line-height: 32px;
    position: relative;
    color: black;
    width: 162px;
    height: 104px;
    right: 0;
    text-align: center;
    left: 3px;
    bottom: 29px;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container-master {
    width: 220px;
    left: 0px;
    bottom: 2px;
}

.description-master-line {
    font-size: 20px;
}

.chaos-order-number {
    position: absolute;
    bottom: -18px;
}

.hexagon-inline{
    margin-right:-22px;
}
.hexagon-inline:last-child{
    margin-right:0;
}

.collection-header-text{
    font-family:"Macondo", cursive;
    font-weight:400;
    font-style:normal;

    position:absolute;
    color:#fff;
    width:180px;
    text-align:center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.art-name{
    paint-order: stroke fill;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
}

.art-name-chaos{
    text-align:center;
    white-space: pre-wrap;
    paint-order: fill;
    -webkit-text-stroke-width: 0px;
}

.description-master-line-text {
    position:relative;
    top: 2px;
}

.header-master-line {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    color: #000;
    z-index: 7;
    top: -8px;
}

.hexagons-chaos-wrapper{
    display: inline-flex;
    position: relative;
    top: 16px;
    margin-top: -20px;
    padding-bottom: 14px;
}

.hexagon-chaos-wrapper{
    display: inline-flex;
    position: relative;
    top: 16px;
    margin-top: -20px;
    padding-bottom: 14px;
}

.hexagons-master-wrapper {
    top: 22px;
}

.hexagon-master-wrapper {
    top: 10px;
}

.art-name-textarea{
    background:transparent;
    resize:none;
    border:none;
    outline:none;
    box-shadow:none;
    overflow:hidden;
    -webkit-text-stroke:0.5px #000;
    font-family:"Macondo", cursive;
    font-weight:400;
    font-style:normal;
    font-size:32px;
    line-height:28px;
    position:absolute;
    color:#fff;
    width:155px;
    right:15px;
    text-align:right;
    left:auto;
    z-index:7;
    bottom:10px;
    height:56px;
}

.pay-wrapper{
    position:absolute;
    left:10px;
    bottom:15px;
    z-index:10;
}

.get-wrapper{
    position:absolute;
    right:10px;
    top:10px;
    z-index:10;
}
.temp-flying-art{
    position:absolute;
    transition:left 0.4s ease, top 0.4s ease;
    left:0;
    top:0;
    z-index:10000;
}