<div class="card chaos-card"
     [ngClass]="{ 'card--view': !printModeEnabled, 'card--print': printModeEnabled }"
     (mouseenter)="hovered = true"
     (mouseleave)="hovered = false"
>
    <ng-container *ngIf="cardSide === 'front'">
        <!-- вместо card-overlay напрямую -->
        <div
            class="card-overlay-wrap"
            [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
            [ngStyle]="{ '--card-bg': 'url(' + card.image + ')' }"
        >
            <div class="card-overlay-mirror-topleft"></div>
            <div class="card-overlay-mirror-topright"></div>
            <div class="card-overlay-mirror-left"></div>
            <div class="card-overlay"></div>
            <div class="card-overlay-mirror-right"></div>
            <div class="card-overlay-mirror-bottomleft"></div>
            <div class="card-overlay-mirror-bottomright"></div>
        </div>

        <div class="text-container text-container-chaos text-container-master">
            <div class="header-master-line">{{ card.text.en }}</div>

            <div class="art-name-chaos">
                <div class="description-master-line">
                    <div class="hexagons-chaos-wrapper hexagons-master-wrapper">
                        <app-hexagon class="hexagon-inline" *ngIf="card.color !== 'red'" [color]="'red'" [type]="'chaos'"></app-hexagon>
                        <app-hexagon class="hexagon-inline" *ngIf="card.color !== 'blue'" [color]="'blue'" [type]="'chaos'"></app-hexagon>
                        <app-hexagon class="hexagon-inline" *ngIf="card.color !== 'white'" [color]="'white'" [type]="'chaos'"></app-hexagon>
                        <app-hexagon class="hexagon-inline" *ngIf="card.color !== 'green'" [color]="'green'" [type]="'chaos'"></app-hexagon>
                    </div>

                    <span class="description-master-line-text">{{ canBeUsedAs.en }}</span>

                    <app-hexagon class="hexagon-chaos-wrapper hexagon-master-wrapper" *ngIf="card.color === 'red'" [color]="'red'" [type]="'chaos'"></app-hexagon>
                    <app-hexagon class="hexagon-chaos-wrapper hexagon-master-wrapper" *ngIf="card.color === 'blue'" [color]="'blue'" [type]="'chaos'"></app-hexagon>
                    <app-hexagon class="hexagon-chaos-wrapper hexagon-master-wrapper" *ngIf="card.color === 'white'" [color]="'white'" [type]="'chaos'"></app-hexagon>
                    <app-hexagon class="hexagon-chaos-wrapper hexagon-master-wrapper" *ngIf="card.color === 'green'" [color]="'green'" [type]="'chaos'"></app-hexagon>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardSide === 'back'">
        <!-- back: используем wrap-back, чтобы background-size для отражений был как у рубашки -->
        <div
            class="card-overlay-wrap card-overlay-wrap-back"
            [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
            [ngStyle]="{ '--card-bg': 'url(./assets/back_cards/master9.jpg)' }"
        >
            <div class="card-overlay-mirror-topleft"></div>
            <div class="card-overlay-mirror-topright"></div>
            <div class="card-overlay-mirror-left"></div>
            <div class="card-overlay card-overlay-back"></div>
            <div class="card-overlay-mirror-right"></div>
            <div class="card-overlay-mirror-bottomleft"></div>
            <div class="card-overlay-mirror-bottomright"></div>
        </div>
    </ng-container>
</div>
