.game-wrapper{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:"Faculty Glyphic", sans-serif;
    color:#555;
}

.game-field{
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:flex-start;
    padding:24px 32px;
    border-radius:18px;
    background:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}

.game-row{
    display:flex;
    align-items:center;
    gap:16px;
}

.game-stack{
    display:flex;
    align-items:center;
}

.card--back{
    margin: 0 8px 0 0;
}

.game-row-cards{
    display:flex;
    align-items:center;
}
