<div class="game-wrapper">
    <div class="game-setup" *ngIf="!playerCount">
        <div class="game-setup__panel">
            <div class="game-setup__title">Select Players</div>
            <div class="game-setup__subtitle">Choose number of players to start the game.</div>
            <div class="game-setup__buttons">
                <button type="button" class="game-setup__button" (click)="selectPlayerCount(2)">2</button>
                <button type="button" class="game-setup__button" (click)="selectPlayerCount(3)">3</button>
                <button type="button" class="game-setup__button" (click)="selectPlayerCount(4)">4</button>
                <button type="button" class="game-setup__button" (click)="selectPlayerCount(5)">5</button>
                <button type="button" class="game-setup__button" (click)="selectPlayerCount(6)">6</button>
            </div>
        </div>
    </div>

    <div class="game-layout" #gameLayout *ngIf="rows.length && playerCount">
        <div class="game-players game-players--left">
            <div class="player-slot" *ngFor="let isVisible of leftPlayerSlots; let i = index" [class.player-slot--hidden]="!isVisible" [class.player-slot--active]="getPlayerNumber('left', i) === activePlayer">
                <div class="player-card" *ngIf="isVisible">
                    <div class="player-card__header">
                        <ng-container *ngIf="editingPlayerIndex !== getPlayerNumber('left', i); else leftEditTemplate">
                            <span class="player-card__name">
                                {{ getPlayerName(getPlayerNumber('left', i)) }}
                                <span class="player-card__tooltip">Rename</span>
                            </span>
                            <button class="player-set-active" type="button" (click)="$event.stopPropagation(); setActivePlayer(getPlayerNumber('left', i))" title="Set active player">●</button>
                        </ng-container>
                        <ng-template #leftEditTemplate>
                            <input
                                class="player-card__input"
                                type="text"
                                [(ngModel)]="editingPlayerName"
                                (focus)="selectAllText($event)"
                                (keydown.enter)="saveRename(getPlayerNumber('left', i))"
                                (keydown.escape)="$event.preventDefault(); cancelRename()"
                                (blur)="onRenameBlur(getPlayerNumber('left', i))"
                                autofocus
                            />
                            <button class="player-card__save" type="button" (mousedown)="saveRename(getPlayerNumber('left', i))">
                                Save
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="game-field">
            <div class="game-row" *ngFor="let row of rows">
                <div class="game-stack" *ngIf="row.stack.length">
                    <div class="card card--back" [ngClass]="{ 'card--view': !printModeEnabled, 'card--print': printModeEnabled }">
                        <div
                            class="card-overlay-wrap card-overlay-wrap-back card-overlay-wrap--no-reflection"
                            [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
                            [ngStyle]="{ '--card-bg': 'url(' + row.backUrl + ')' }"
                        >
                            <div class="card-overlay card-overlay-back"></div>
                        </div>
                    </div>
                </div>
                <div class="game-row-cards">
                    <app-card *ngFor="let card of row.topCards" [card]="card" [disableHoverUi]="true"></app-card>
                    <ng-container *ngFor="let specialStack of row.specialStacks">
                        <div class="game-stack" *ngIf="specialStack.stack.length">
                            <app-card [card]="specialStack.topCard" [disableHoverUi]="true"></app-card>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="game-row game-row--hex">
                    <div class="game-hex-row" (click)="rollDice(4)">
                        <button class="roll-wrapper" type="button" aria-label="Roll dice">
                            <div class="roll-label">Roll</div>
                            <app-hexagon [color]="'dice'" [number]="4" [type]="'gameBank'"></app-hexagon>
                        </button>
                    <button class="roll-wrapper" type="button" aria-label="Red bank">
                        <app-hexagon [color]="'red'" [number]="4" [type]="'gameBank'"></app-hexagon>
                    </button>
                    <button class="roll-wrapper" type="button" aria-label="Blue bank">
                        <app-hexagon [color]="'blue'" [number]="4" [type]="'gameBank'"></app-hexagon>
                    </button>
                    <button class="roll-wrapper" type="button" aria-label="White bank">
                        <app-hexagon [color]="'white'" [number]="4" [type]="'gameBank'"></app-hexagon>
                    </button>
                    <button class="roll-wrapper" type="button" aria-label="Green bank">
                        <app-hexagon [color]="'green'" [number]="4" [type]="'gameBank'"></app-hexagon>
                    </button>
                    <button class="roll-wrapper" type="button" aria-label="Purple bank">
                        <app-hexagon [color]="'purple'" [number]="4" [type]="'gameBank'"></app-hexagon>
                    </button>
                    <!--<button class="roll-wrapper" type="button" aria-label="Black bank">
                        <app-hexagon [color]="'black'" [number]="'infinity'" [type]="'gameBank'"></app-hexagon>
                    </button>-->
                </div>
            </div>
        </div>

        <div class="game-players game-players--right">
            <div class="player-slot" *ngFor="let isVisible of rightPlayerSlots; let i = index" [class.player-slot--hidden]="!isVisible" [class.player-slot--active]="getPlayerNumber('right', i) === activePlayer">
                <div class="player-card" *ngIf="isVisible">
                    <div class="player-card__header">
                        <ng-container *ngIf="editingPlayerIndex !== getPlayerNumber('right', i); else rightEditTemplate">
                            <span class="player-card__name">
                                {{ getPlayerName(getPlayerNumber('right', i)) }}
                                <span class="player-card__tooltip">Rename</span>
                            </span>
                            <button class="player-set-active" type="button" (click)="$event.stopPropagation(); setActivePlayer(getPlayerNumber('right', i))" title="Set active player">●</button>
                        </ng-container>
                        <ng-template #rightEditTemplate>
                            <input
                                class="player-card__input"
                                type="text"
                                [(ngModel)]="editingPlayerName"
                                (focus)="selectAllText($event)"
                                (keydown.enter)="saveRename(getPlayerNumber('right', i))"
                                (keydown.escape)="$event.preventDefault(); cancelRename()"
                                (blur)="onRenameBlur(getPlayerNumber('right', i))"
                                autofocus
                            />
                            <button class="player-card__save" type="button" (mousedown)="saveRename(getPlayerNumber('right', i))">
                                Save
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
