<div class="game-wrapper">
    <div class="game-field" #gameField *ngIf="rows.length">
        <div class="game-row" *ngFor="let row of rows">
            <div class="game-stack" *ngIf="row.stack.length">
                <div class="card card--back" [ngClass]="{ 'card--view': !printModeEnabled, 'card--print': printModeEnabled }">
                    <div
                        class="card-overlay-wrap card-overlay-wrap-back"
                        [ngClass]="{ 'card-overlay-wrap--no-reflection': !printModeEnabled }"
                        [ngStyle]="{ '--card-bg': 'url(' + row.backUrl + ')' }"
                    >
                        <div class="card-overlay card-overlay-back"></div>
                    </div>
                </div>
            </div>
            <div class="game-row-cards">
                <app-card *ngFor="let card of row.topCards" [card]="card" [disableHoverUi]="true"></app-card>
                <ng-container *ngFor="let specialStack of row.specialStacks">
                    <div class="game-stack" *ngIf="specialStack.stack.length">
                        <app-card [card]="specialStack.topCard" [disableHoverUi]="true"></app-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
