/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Be Vietnam Pro', sans-serif;*/
  font-family: "Skranji", serif;
  font-weight: 700;
  font-style: normal;
  /*text-shadow: 2px 2px #000;*/


/*  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;*/


}
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}


.cards-wrapper{
    height:0vh;
    padding: 30px 0;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}
.arts-wrapper{
    height:0vh;
    overflow:scroll;
    display:flex;
    flex-wrap:wrap;
    transition:height 1s ease;
}