.menu-wrapper{
    font-family:"Faculty Glyphic", sans-serif;
    font-weight:400;
    font-style:normal;

    font-size:20px;
    position:absolute;
    top:0;
    right:34px;
    z-index:10000;
    background-color:cornsilk;
    padding:21px;
    width:fit-content;
    height:fit-content;
    transition:height 0.5s ease;
    transition:width 0.5s ease;

    border-radius:15px;
    border:1px solid #000;
}
.menu-visibility{
    text-align:center;
}
.menu-item{
    cursor:pointer;
}