<div class="menu-wrapper" *ngIf="showMenu">
	<div class="menu-item menu-visibility" *ngIf="menuVisibility === 'expanded'" (click)="changeVisibilityMode('collapsed')">⮞⮞⮞  HIDE MENU ⮞⮞⮞</div>
	<div class="menu-item menu-visibility" *ngIf="menuVisibility === 'collapsed'" (click)="changeVisibilityMode('expanded')">⮜<br/>S<br/>H<br/>O<br/>W<br/><br/>M<br/>E<br/>N<br/>U<br/>⮜</div>
	<div class="menu-collapse-area" *ngIf="menuVisibility === 'expanded'">
		<br>
		<div class="menu-item" [ngStyle]="{'color': selectedMenuItem === 1 ? 'blue' : 'black' }" (click)="selectViewMode(1)">
			* Cards only
		</div>
		<div class="menu-item" [ngStyle]="{'color': selectedMenuItem === 2 ? 'blue' : 'black' }" (click)="selectViewMode(2)">
			* Cards and Arts (30/70)
		</div>
		<div class="menu-item" [ngStyle]="{'color': selectedMenuItem === 3 ? 'blue' : 'black' }" (click)="selectViewMode(3)">
			* Cards and Arts (50/50)
		</div>
		<div class="menu-item" [ngStyle]="{'color': selectedMenuItem === 4 ? 'blue' : 'black' }" (click)="selectViewMode(4)">
			* Cards and Arts (70/30)
		</div>
		<div class="menu-item" [ngStyle]="{'color': selectedMenuItem === 5 ? 'blue' : 'black' }" (click)="selectViewMode(5)">
			* Arts only
		</div>
		<br>
		<div class="menu-item" (click)="resetAllCardsAndArts()">* Reset All Cards+Arts</div>
		<div class="menu-item">* Generate Array</div>
		<div class="menu-item" *ngIf="disabledArtVisibility === 'hidden'" (click)="showDisabledArtVisibility()">* Show Disabled Arts</div>
		<div class="menu-item" *ngIf="disabledArtVisibility === 'visible'" (click)="hideDisabledArtVisibility()">* Hide Disabled Arts</div>
		<div class="menu-item" *ngIf="disabledCardVisibility === 'hidden'" (click)="showDisabledCardVisibility()">* Show Disabled Cards</div>
		<div class="menu-item" *ngIf="disabledCardVisibility === 'visible'" (click)="hideDisabledCardVisibility()">* Hide Disabled Cards</div>
		<div class="menu-item" *ngIf="cardSide === 'front'" (click)="showCardsSide('back')">* Show Back Of Cards</div>
		<div class="menu-item" *ngIf="cardSide === 'back'" (click)="showCardsSide('front')">* Show Front Of Cards</div>
		<div class="menu-item" *ngIf="collectionHeaderState === 'hidden'" (click)="changeCollectionHeaderState('visible')">* Show Collection Header</div>
		<div class="menu-item" *ngIf="collectionHeaderState === 'visible'" (click)="changeCollectionHeaderState('hidden')">* Hide Collection Header</div>
		<div class="menu-item" (click)="showMenu = false">* Hide Menu</div>
	</div>
</div>